bin/
import_scripts/
lighting/
maps/
panorama/
rpt/
save/
shadercache/
tools/

backup_round*.txt

*.bin
*.fgd
*.vpk
*.vdf
*.gi
*.inf
*.vcfg

cfg/server_default.cfg
cfg/perftest.cfg
cfg/server.cfg

resource/game-icon.bmp
